@model MemoVM

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@foreach (var item in Model.ToDoList)
{
    <button>@item.Key.Name</button>
    foreach (var mem in item.Value)
    {
        @mem.Text
    }
    <br/>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
